<div class="nav">
    <div class="container">
		<div class="title pull-left">
			<a href="index.html"><b>CKA & CKS Study Guide</b></a>
		</div>
		<div class="menu desktop pull-right">
		  <a class="chapters dropdown-desktop" href="#"><i class="icon-book"></i><span>Chương</span></a>
		  <ul class="dropdown-menu">
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="intro.html">Giới thiệu</a></li>
				<li><a tabindex="-1" href="ch01.html">1. Linux & System Hardening nền tảng</a></li>
				<li><a tabindex="-1" href="ch02.html">2. Networking & Cluster Networking</a></li>
				<li><a tabindex="-1" href="ch03.html">3. Container & Docker</a></li>
				<li><a tabindex="-1" href="ch04.html">4. Kubernetes căn bản (CKA)</a></li>
				<li><a tabindex="-1" href="ch05.html">5. Kubernetes vận hành & troubleshooting (CKA)</a></li>
				<li><a tabindex="-1" href="ch06.html">6. Cluster Setup (CKS)</a></li>
				<li><a tabindex="-1" href="ch07.html">7. Cluster Hardening (CKS)</a></li>
				<li><a tabindex="-1" href="ch08.html">8. System Hardening (CKS)</a></li>
				<li><a tabindex="-1" href="ch09.html">9. Minimize Microservice Vulnerabilities (CKS)</a></li>
				<li><a tabindex="-1" href="ch10.html">10. Supply Chain Security (CKS)</a></li>
			  </ul>
			</li>
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="ch11.html">11. Monitoring, Logging and Runtime Security (CKS)</a></li>
				<li><a tabindex="-1" href="ch12.html">12. CI/CD Engineering</a></li>
				<li><a tabindex="-1" href="ch13.html">13. Cloud & IaC</a></li>
				<li><a tabindex="-1" href="ch14.html">14. Observability</a></li>
				<li><a tabindex="-1" href="ch15.html">15. GitOps & Deployment Strategies</a></li>
				<li><a tabindex="-1" href="ch16.html">16. SRE & Incident Response</a></li>
				<li><a tabindex="-1" href="ch17.html">17. Mock Exam & Labs CKA/CKS</a></li>
				<li><a tabindex="-1" href="ch18.html">18. Phỏng vấn Middle/Senior DevOps</a></li>
				<li><a tabindex="-1" href="appA.html">Phụ lục A. Cheat sheet</a></li>
				<li><a tabindex="-1" href="appB.html">Phụ lục B. Lab & môi trường ôn tập</a></li>
				<li><a tabindex="-1" href="appC.html">Phụ lục C. Lộ trình học 8–10 tuần</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
	</div>
	<div class="menu mobile pull-right">
		<a class="chapters dropdown-mobile" href="#"><i class="icon-book"></i></a>
		<ul class="dropdown-menu">
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="intro.html">Giới thiệu</a></li>
				<li><a tabindex="-1" href="ch01.html">1. Linux & System Hardening nền tảng</a></li>
				<li><a tabindex="-1" href="ch02.html">2. Networking & Cluster Networking</a></li>
				<li><a tabindex="-1" href="ch03.html">3. Container & Docker</a></li>
				<li><a tabindex="-1" href="ch04.html">4. Kubernetes căn bản (CKA)</a></li>
				<li><a tabindex="-1" href="ch05.html">5. Kubernetes vận hành & troubleshooting (CKA)</a></li>
				<li><a tabindex="-1" href="ch06.html">6. Cluster Setup (CKS)</a></li>
				<li><a tabindex="-1" href="ch07.html">7. Cluster Hardening (CKS)</a></li>
				<li><a tabindex="-1" href="ch08.html">8. System Hardening (CKS)</a></li>
				<li><a tabindex="-1" href="ch09.html">9. Minimize Microservice Vulnerabilities (CKS)</a></li>
				<li><a tabindex="-1" href="ch10.html">10. Supply Chain Security (CKS)</a></li>
			  </ul>
			</li>
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="ch11.html">11. Monitoring, Logging and Runtime Security (CKS)</a></li>
				<li><a tabindex="-1" href="ch12.html">12. CI/CD Engineering</a></li>
				<li><a tabindex="-1" href="ch13.html">13. Cloud & IaC</a></li>
				<li><a tabindex="-1" href="ch14.html">14. Observability</a></li>
				<li><a tabindex="-1" href="ch15.html">15. GitOps & Deployment Strategies</a></li>
				<li><a tabindex="-1" href="ch16.html">16. SRE & Incident Response</a></li>
				<li><a tabindex="-1" href="ch17.html">17. Mock Exam & Labs CKA/CKS</a></li>
				<li><a tabindex="-1" href="ch18.html">18. Phỏng vấn Middle/Senior DevOps</a></li>
				<li><a tabindex="-1" href="appA.html">Phụ lục A. Cheat sheet</a></li>
				<li><a tabindex="-1" href="appB.html">Phụ lục B. Lab & môi trường ôn tập</a></li>
				<li><a tabindex="-1" href="appC.html">Phụ lục C. Lộ trình học 8–10 tuần</a></li>
			  </ul>
			</li>
		  </ul>
	  </div>
</div>
