---
layout: base
---

    
            {{ content }} <!-- This is where your page content will be injected -->
            
            <div class="book-info">
                <p>Bạn có thích nội dung đang đọc? Hãy cân nhắc:</p>
                
                {% include buy-info.html %}
                
                <br/>
                <p>Bạn gặp vấn đề hoặc muốn góp ý điều gì?</p>
                <p><a href="https://github.com/hieuleminh03/cka-book/issues" target="_blank">Báo lỗi cho sách</a></p>
                <p><a href="https://github.com/hieuleminh03" target="_blank">Theo dõi tác giả trên GitHub</a></p>
            </div>
