---
layout: base
---

            <div class="book-cover"><img src="assets/img/cover.svg" /></div>
            <p class="border"></p>
            <a href="intro.html" class="button-large"><i class="icon-book"></i> Đọc online miễn phí</a>

            {{ content }} <!-- This is where your page content will be injected -->

            {% include buy-info.html %}

            <p>Trang này nằm trên <a href="https://github.com/hieuleminh03/cka-book">Github</a>, bạn có thể fork, chỉnh sửa và tạo pull request.</p>

            <br/>

            {% include changelog.html %}
